/* at some sizes this will break because of how the box model interacts with the page - don't worry, we'll learn to solve that on day 5 */

h2 {
    text-align: center;
    font-size: 3.5rem;
    color: #e43;
}

.menu {
    text-align: center;
}

.card {
    padding: 0 0 20px;
    margin: 1rem;
    border: 1px solid #212;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: #edf45a;
    color: #212;
    text-align: center;
    display: inline-block;
    max-width: 28%;
}

.card h3 {
    color: #e21;
}

.card img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.price {
    color: #e21;
    font-weight: bold;
}